@use "sass:map";

@import '../../../styles/colors.scss';
@import '../../../styles/topography.scss';

:host {
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: block;
}

.staff {
    padding: 28px;
    
    &__image {
        width: 100%;
    }

    &__name {
        color: $color-dark-grey;

        font-size: map.get($font-base, 'font-size');
        line-height: 24px;

        margin-bottom: 12px;
    }

    &__role {
        color: $color-grey;

        font-size: map.get($font-base, 'font-size');
        line-height: map.get($font-base, 'line-height');
    }
}