<div class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col-1">
                        <img src="./assets/images/logo.png" width="100%" />
                    </div>
                    <div class="offset-10 col-1 d-flex align-items-end justify-content-center">
                        <div class="footer__arrow"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="footer__rights">2020 © Льотна школа "Форсаж"</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer__nav d-flex">
                            <div class="footer__nav-item mr-3">Головна</div>
                            <div class="footer__nav-item mr-3">Наші партнери</div>
                            <div class="footer__nav-item mr-3">Програма навчання</div>
                            <div class="footer__nav-item mr-3">Повітряний флот</div>
                            <div class="footer__nav-item mr-3">Про нас</div>
                            <div class="footer__nav-item mr-3">Стати пілотом</div>
                            <div class="footer__nav-item mr-3">Фотогалерея</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
