<div class="header__background position-absolute w-100">
    <div class="position-relative h-100 w-100">
        <img class="header__sky1 position-absolute" src="./assets/images/002.png" />
        <img class="header__sky2 position-absolute mb-n3 w-100" src="./assets/images/003.png" />
    </div>
</div>
<img *ngIf="image" class="header__plane position-absolute" [src]="image" />
<div class="row">
    <div class="col-8 offset-1 header__container">
        <div class="header__title">{{title}}</div>
    </div>
    <div class="col-3 offset-1">
        <button class="btn btn--orange w-100">записатися на курси</button>
    </div>
</div>