<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Наші контакти</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="mb-2">моб.: +380508321003</div>
        <div class="mb-2">моб.: +380505443574</div>
        <div class="mb-2">e-mail: ostapenko2002@yahoo.com</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn--orange w-100" (click)="modal.close('Close click')">Закрити</button>
  </div>
</ng-template>

<app-navigation></app-navigation>
<div class="header__background position-absolute w-100">
    <div class="position-relative h-100 w-100">
        <img class="header__sky1 position-absolute" src="./assets/images/002.png" />
        <img class="header__sky2 position-absolute mb-n3 w-100" src="./assets/images/003.png" />
    </div>
</div>
<div class="container position-relative">
    <img *ngIf="image" class="header__plane position-absolute" [ngStyle]="image.styles" [src]="image.url" />
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-1 header__container">
            <div class="header__title">{{title}}</div>
        </div>
        <div class="col-4 offset-1">
            <button class="btn btn--orange w-100" (click)="openModal(content)">записатися на курси</button>
        </div>
    </div>
</div>
