<div class="section-course__container position-relative">
    <img class="section-course__sky position-absolute" src="./assets/images/004.png"/>
    <div class="section-course__left-side">
        <app-card [staff]="staff"></app-card>
    </div>
    <div class="section-course__right-side">
        <div class="right-side__info">Мета курсу (PPL(A) – підготовка пілотів для виконання ними функцій командира повітряного судна, при виконанні некомерційних перевезень (без отримання грошової винагороди), з рівнем компетентності що відповідає правам які передбачені свідоцтвом PPL(A) на однопілотних однодвигунних літаках за правилами візуальних польотів.</div>
        <div class="right-side__subtitle">Заявники на отримання свідоцтва PPL(A)</div>
        <div class="section-course__separator"></div>
        <div class="right-side__description">
            <div>Заявники на отримання свідоцтва PPL(A) проходять не менше ніж 100 годин теоретичної підготовки та 45 годин льотної підготовки.</div>
            <div>Логічним закінченням всього навчання є успішне проходження тестів з теоретичної підготовки та екзаменаційний політ з пілотом екзаменатором, призначеним Державіаслужбою України, для встановлення рівня професійних навичок заявника.</div>
            <div>Термін навчання становить щонайменше 3 місяці.</div>
        </div>
    </div>
</div>