/* You can add global styles to this file, and also import other style files */
@import './styles/index.scss';

body {
    font-family: Montserrat;
    min-width: 1024px;
}

.section__list {
    margin-top: 252px;
}

.container {
    min-width: 960px !important;
}