<div id="navigation" class="navigation position-absolute w-100 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col-1">
                        <img src="./assets/images/logo.png" width="100%" />
                    </div>
                    <div class="col-10">
                        <div class="nav d-flex align-items-center justify-content-between h-100">
                            <div class="nav-item" (click)="navigation.goTo('/', 'navigation')">Головна</div>
                            <div class="nav-item" (click)="navigation.goTo('/', 'courses')">Програма навчання</div>
                            <div class="nav-item" (click)="navigation.goTo('/', 'fleet')">Повітряний флот</div>
                            <div class="nav-item" (click)="navigation.goTo('/', 'about-us')">Про нас</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
